body
{
    background-color: rgba(115, 201, 230, 0.05);
    padding-top: 50px;
}

section
{
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 40px;
}

.no-margin
{
    margin: 0;
}

.no-topmargin
{
    margin-top: 0;
}

#sudoku-form
{
    text-align: center;
}

#pamiatky
{
    width: 100%;
}

.darkblue
{
    background-color: rgba(115, 201, 230, 0.7);
}

.lightblue
{
    background-color: rgba(115, 201, 230, 0.3);
}

.pamiatka
{
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
}

.pamiatka img
{
    width: 50%;
    height: auto;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}

.person
{
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px;
    padding-bottom: 25px;
    overflow: hidden;
}

.person img
{
    width: 35%;
    height: auto;
    float: right;
    margin-right: 10px;
    border-radius: 5px;
}

/* 3-level menu css begin */
nav
{
    position: fixed !important;
    top: 0;
    z-index: 2;
}

.navbar
{
    width: 100%;
    border: 0;
    margin-bottom: 0;
}

.navbar-nav, .navbar-collapse, .navbar-header,
.navbar .container-fluid
{
    background-color: #73C9E6;
}

#navbar li:hover
{
    background-color: #3088A6;
}

.navbar-nav li:hover a
{
    color: #fff !important;
}

.navbar-brand
{
    color: white !important;
    background-color: #3088A6;
}

.navbar-brand:hover
{
    color: #777 !important;
}

.navbar-default .navbar-nav > .open > a, 
.dropdown.open .dropdown-toggle, 
.dropdown-menu li a:hover
{
    background: 0;
}

.navbar-default .navbar-nav > .open > a:focus, 
.dropdown-menu, .dropdown.open .dropdown-toggle, 
.dropdown-menu li a, .open a
{
    color: white;
    background-color: #3088A6;
}

.dropdown-menu li a:hover
{
    background-color: #73C9E6;
}
/* 3-level menu css end */

#breadcrumbs
{
    padding-left: 15px;
}

#breadcrumbs a
{
    background-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h2
{
    text-align: center;
}

#dnesnyDatum, #dnesneMeniny
{
    color: #777;
    font-size: 12px;
}

ul#meniny
{
    padding-right: 15px;
    list-style: none;
}

ul#meniny li
{
    display: inline-block;
    margin-left: 20px;
}

input.noted
{
	font-size: 10px;
}

.sudoku-input
{
	text-align: center;
	width: 45px;
	height: 45px;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: #73C9E6;
	border: 1px solid black;
	font-size: 30px;
	border-radius: 3px;
}

.sudoku-input:disabled
{
	background-color: #8EFC88;
	border: 1px solid black;
}

.no-margin
{
	margin: 0;
	margin-top: 2px;
	margin-bottom: 2px;
}

.sudoku-hr
{
	width: 300px;
	opacity: 0;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color: #fff;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:black;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

#meno
{
    width: 120px;
}

#datum
{
    width: 80px;
}

#tasks-table
{
    border: 1px solid black;
    margin: auto;
    border-radius: 5px;
}

td.task-empty
{
    background-color: #73C9E6;
}

td.task-done
{
    background-color: green;
}

#tasks-table tr, #tasks-table td, #tasks-table th
{
    text-align: center;
    border: 1px solid black;
    width: 100px;
    padding: 5px 15px;
}

.vertical-head
{
    width: 180px !important;
}

/* slepa mapa css begin */
#map {
      width: 1100px;
      height: 725px;
      position: absolute;
      margin-left:5px;
      border-radius: 10px;
}

#buttonStart{
    position: absolute;
    left: 90px;
    top:565px;
    width: 150px;
    height: 70px;
}

#buttonOk{
    position: absolute;
    left: 90px;
    top:565px;
    width: 150px;
    height: 70px;
    visibility: hidden;
}

#p{
    position: absolute;
    left:20px;
}

#input{
    position: absolute;
    top:100px;
    margin-left: 60px;
    width: 150px;
    left: 50px;
    visibility: hidden;
}

#howToPlay{
    width: 250px;
    height: 300px;
    background-image: URL("../img/pozadnieForm.png");
    margin:0 auto;
    margin-top:130px;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 1px; 
    overflow-y:scroll;
    border-width: 1px;
}

#ansLabel{
    position: absolute;
    top:100px;
    margin-left: -30px;
    width: 150px;
    left: 50px;
    visibility: hidden;
}

#buttonRestart{
    display: none;
    position: absolute;
    left: 90px;
    top:565px;
    width: 150px;
    height: 70px;
}

#menu{
    background-image: URL("../img/pozadnieForm.png");
    width: 300px;
    height: 700px;
    position: absolute;
    right:5px;
    border-radius: 10px;
    padding: 1%;
}

#envelope{
    position: absolute;
    width:1475px;
    height:725px;

}

#envelopeRelative{
    margin:0 auto;
    width:1480px;
    height:730px;
}



#plotPlace{
    width:1200px;
    height: 300px;
    margin:0 auto;
    margin-top: 50px;
}

/* slepa mapa css end */

/* anagramy css begin */
#all 
{
    display: inline-flex;
}

#sortable 
{ 
    list-style-type: none; 
    margin: 0 auto; 
    padding: 0;   
    text-align: center;
}

#sortable li 
{ 
    margin: 0 3px 3px 3px; 
    padding: 6px; 
    padding-left: 13px; 
    font-size: 20px; 
    height: 38px; 
    width: 38px;
    display: inline-flex; 
}

#sortable li span 
{ 
    position: absolute; 
    margin-left: -1.3em; 
}

#btn 
{
    margin:0 auto;
    text-align: center;
}

#napoveda, #showScore, #chyba, #koniecAnagramov
{
    text-align: center;
    margin: 0 auto;
}

#anagramy-opis
{
    overflow: auto;
}
/*anagramy css end */

/* krizovka css begin */
h1{
font-size: 20pt;
text-align: center;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

table#ttt, table#ttt tr th, table#ttt tr td {
    border-collapse: collapse;
}

table#ttt tr th, table#ttt tr td {
    padding: 10px;
}

.tajnicka {
    border: 1px solid black;
    background-color: #3088A6;
    width: 40px;
    height: 40px;
}

.krizovka {
    border: 1px solid black;
    background-color: none;
    width: 40px;
    height: 40px;
}

.prazdnaBunka {
    border: none;
    background-color: none;
}

#x
{
    margin-top: 20px;
}

#x p
{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.spravne {
    background-color: green;
}

.nespravne {
    background-color:red;
}

.ziadne {
    background-color:none;
}
/* krizovka css end */

/* pamiatky mapa css begin */
#google-map 
{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

#image-map-div
{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#image-map-image
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* pamiatky mapa css end */

/* puzzle css begin */

#divMapa
{
    width: 100%;
    border-radius: 5px;
    background-color: grey;
    height: 330px;
}

#imgSVK
{
    z-index: 0;
}

#divPuzzle
{
    width: 100%;
    border-radius: 5px;
    background-color: grey;
    padding-left: 20px;
}

#divScore
{
    border-radius: 5px;
    background-color: lightyellow;
    font-family: sans-serif;
    font-size: 16px;
    padding: 20px;
    margin-top: 40px;

}

.inDivScore
{
    margin-top: 10px;
    font-size: 12px;
}

#youWon
{
    margin-top: 10px;
    display: none;
    padding-top: 10px;
}

.drop
{
    position: absolute;
    /*border-style: solid;
    border-width: 1px;*/
}

.drag
{
    /*  border-style: solid;
    border-width: 1px;*/
}

/**************************************/

#imgBA
{
    z-index: 1;
}

#imgTT
{
    z-index: 1;
}
#imgNR
{
    z-index: 1;
}
#imgTN
{
    z-index: 1;
}
#imgBB
{
    z-index: 1;
}
#imgZA
{
    z-index: 1;
}
#imgPO
{
    z-index: 1;
}

#imgKE
{
    z-index: 1;
}
  

/**************************************/

#divBA
{
    top: 151px;
    left: 37px;

    width: 72px;
    height: 96px;
}

#divTT
{
    top: 111px;
    left: 39px;

    width: 120px;
    height: 180px;
}

#divNR
{
    top: 139px;
    left: 114px;

    width: 150px;
    height: 150px;
}

#divTN
{
    top: 49px;
    left: 82px;

    width: 156px;
    height: 132px;
}

#divBB
{
    top: 105px;
    left: 188px;

    width: 210px;
    height: 138px;
}

#divZA
{
    top: 8px;
    left: 184px;

    width: 168px;
    height: 138px;
}

#divPO
{
    top: 32px;
    left: 326px;

    width: 270px;
    height: 108px;
}

#divKE
{
    top: 97px;
    left: 357px;

    width: 222px;
    height: 102px;
}

/*puzzle css end */

.global-center
{
    margin: auto;
    width: 100%;
}

.row, .navbar
{
    margin-right: 0 !important;
}