#map {
      width: 600px;
      height: 400px;
      margin:0 auto;
      border-radius: 10px;
}

#pictureDiv{
	position: absolute;
	width:1000px;
	height:524px;
	margin-top: 50px;
	left:200px;
	border-radius: 10px;
}

#pictureImg{
	width:1000px;
	height:524px;
	border-radius: 10px;
}

