#map {
      width: 1100px;
      height: 625px;
      /*margin: 0 auto;
      margin-top: 5%;*/
      position: absolute;
      margin-left:5px;
      border-radius: 10px;
}

#myDiv{
	display: none;
	width:1200px;
	height: 400px;
	margin:0 auto;
	margin-top: 50px;
}

#buttonStart{
	position: absolute;
	left: 90px;
	top:515px;
	width: 150px;
	height: 70px;
}

#buttonOk{
	position: absolute;
	left: 90px;
	top:515px;
	width: 150px;
	height: 70px;
	visibility: hidden;
}

#p{
	position: absolute;
	top: 20px;
	left:20px;
}

input{
	position: absolute;
	top:100px;
	margin-left: 60px;
	width: 150px;
	left: 50px;
	visibility: hidden;
}

#buttonRestart{
	display: none;
	position: absolute;
	left: 90px;
	top:515px;
	width: 150px;
	height: 70px;
}

#menu{
	background-image: URL("img/pozadnieForm.png");
	width: 300px;
	height: 600px;
	position: absolute;
	right:5px;
	padding: 1%;
	border-radius: 10px;
}

#envelope{
	position: absolute;
	width:1475px;
	height:625px;
}

#envelopeRelative{
	margin:0 auto;
	width:1480px;
	height:630px;
}

#plotPlace{
	width:1200px;
	height: 300px;
	margin:0 auto;
	margin-top: 50px;
}

#howToPlay{
	width: 250px;
	height: 300px;
	background-image: URL("img/pozadnieForm.png");
	margin:0 auto;
	margin-top:130px;
	border-radius: 10px;
	padding-left: 15px;
	padding-top: 1px; 
	overflow-y:scroll;
	border-width: 1px;
}

#ansLabel{
	position: absolute;
	top:100px;
	margin-left: -30px;
	width: 150px;
	left: 50px;
	visibility: hidden;
}
/*

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Slepá mapa</title>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script language="javascript" type="text/javascript" src="script.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="map"></div>
	</body>
</html>

*/